*{
    margin:0;
    padding:0;
}
.hero{
    height:100%;
    width:100%;
    background-image:linear-gradient(rgba(0,0,0,0.4),
    rgba(0,0,0,0.4)),url(dao.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}
.navbar{
    display:flex;
    width:100%;
    height:60px;
    background-color: rgb(44, 42, 42);
    align-items: center;
}
.logo img{
   width:50px;
   height:47px;
   margin-top: 4px;
}
.navlist{
    display:flex;
   justify-content: space-around;
   margin-left: 40px;
}
.navlist li{
     list-style: none;
     margin:10px;
     padding:10px;
     font-size: larger;    
}
.navlist li a{
   color:rgb(235, 227, 227);
   text-decoration: none;
}
.rightnav{
   margin-left: 80vh;
   padding-left:5vh;
   
}
.rightnav #search{
   border-radius: 5px;
   width:30vh;
}
.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0px;
    padding:0px;
}
.heading{
     
     margin:7% 49% 0px 130px;
     padding:0px;
     color: rgba(231, 165, 126, 0.76);
}

.info{
    margin:6% 0px 6% 10px;
    font-size: larger;
    font-style:unset;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.quote
{
    font-size: larger;
    font-style: italic;
    margin:0% 0% 0% 15%;
}
.form-box{
    width: 380px;
    height: 480px;
    position:relative;
    margin:-30% 100% 0% 150%;
    background: rgba(255, 236, 247, 0.918) ;
    padding-right:0px;
    overflow:hidden;
    border-radius: 50px;
    
}
.button-box{
    width:220px;
    margin:35px auto;
    position:relative;
    box-shadow:0 0 20px 9px #ff61241f;
    border-radius:30px;
}
.toggle-btn{
    padding:10px 30px;
    cursor:pointer;
    background: transparent;
    border:0;
    outline:none;
    position:relative;
}
#btn
{
    top:0;
    left:0;
    position:absolute;
    width:110px;
    height:100%;
    background: linear-gradient(to right,#ff105f,#ffad06);
    border-radius:30px;
    transition:.5s;
}
.input-group
{
    top:180px;
    position:absolute;
    width:280px;
    transition:.5s;
}
.input-field
{
    width:100%;
    padding:10px 0;
    margin:5px 0;
    border-left:0;
    border-top:0;
    border-right:0;
    border-bottom:1px solid #999;
    outline: none;
    background:transparent;
}
.submit-btn
{
    width:85%;
    padding:10px 30px;
    cursor:pointer;
    display:block;
    margin: auto;
    background: linear-gradient(to right,#ff105f,#ffad06);
    border:0;
    outline:none;
    border-radius:30px;
}
.check-box{
    margin:30px 10px 30px 0;
}
span{
    color:#777;
    font-size:12px;
    bottom:68px;
    position:absolute;

}
#login
{
  left:50px;
}
#register
{
   left:450px;
}